body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#titulo {
  background-color: #222;
  color: #fff;
  padding: 10px;
}

#top-bar {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#top-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

#top-bar a:hover {
  text-decoration: underline;
}

.login-form h2{
  color: #fff;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #222;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.form input[type="text"],
.form input[type="password"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.boton a{
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.boton a:hover {
  text-decoration: underline;
  background-color: #3e8e41;
}

.boton a {
  display: block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}