{%extends 'app/base.html'%}

{%block contenido%}

{%load crispy_forms_tags%}

<br><br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">   
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="text-center">Nuevo producto</h2>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form}}
    
                        <div class="text-center mt-3">
                            <a href="{%url 'home'%}" class="btn btn-secondary">Volver al menu</a>
                            &nbsp;
                            <br>
                            <br>
                            <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
                    </form>
                    {{mensaje}}
    
                </div>
            </div>
    
        </div>
    </div>
</div>

{%endblock%}