<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{%static 'app/Diseño/index.css'%}">
    <title>Inicio</title>
</head>

<body>
    <div id="titulo">
        <h4>ENVIOS GRATIS A TODOS LADOS</h4>
        <div id="inse">
            <a href="login.html">Iniciar Sesion</a>
        </div>
    </div>
    <div class="mainscreen">
        <div id="top-bar">
            <a href="camisetas.html">Camisetas</a>
            <a href="chutedores.html">Chuteadores</a>
            <a href="guantes.html">Guantes</a>
            <a href="canilleras.html">Canilleras</a>
        </div>
        <h2>Productos destacados</h2>
        <br>
        <div id="product-list">
            {%block contenido%}
            {%endblock%}
        </div>
</body>

</html>