{% extends 'app/base.html' %}

{%load static%}

{%block css%}

{%endblock%}

{%block js%}

{%endblock%}

{%block contenido%}

    <div class="product-item">
        <img src="{%static 'app/Img/Camisetas/camiPSG.png'%}">
        <p>Camiseta del PSG</p>
        <p>$39.990</p>
        <a href="pago.html">COMPRAR</a>
    </div>

    <div class="product-item">
        <img src="{%static 'app/Img/Camisetas/cami_2.png'%}">
        <p>Segunda camiseta del Leister City</p>
        <p>$59.990</p>
        <a href="pago.html">COMPRAR</a>
    </div>

    <div class="product-item">
        <img src="{%static 'app/Img/Camisetas/cami 3.png'%}">
        <p>Camistea de futbol verde esmeralda</p>
        <p>$69.990</p>
        <a href="pago.html">COMPRAR</a>
    </div>

    <div class="product-item">
        <img src="{%static 'app/Img/Camisetas/cami_4.png'%}">
        <p>Segunda camiseta de Alianza Lima</p>
        <p>$69.990</p>
        <a href="pago.html">COMPRAR</a>
    </div>

{%endblock%}