{% extends 'app/base.html' %}

{%load static%}

{%block css%}

{%endblock%}

{%block js%}

{%endblock%}

{%block contenido%}

<div class="product-item">
    <img src="{%static 'app/Img/Canilleras/canilleras.png'%}">
    <p>Canilleras negras marca Nike</p>
    <p>$69.990</p>
    <a href="pago.html">COMPRAR</a>
</div>

<div class="product-item">
    <img src="{%static 'app/Img/Canilleras/canilleras_2.PNG'%}">
    <p>Canilleras naranjas marca DRB</p>
    <p>$59.990</p>
    <a href="pago.html">COMPRAR</a>
</div>

<div class="product-item">
    <img src="{%static 'app/Img/Canilleras/canilleras_3.PNG'%}">
    <p>Canilleras marca Adidas blancas</p>
    <p>$69.990</p>
    <a href="pago.html">COMPRAR</a>
</div>

<div class="product-item">
    <img src="{%static 'app/Img/Canilleras/canilleras_4.PNG'%}">
    <p>Canilleras de mi abuelo azules</p>
    <p>$69.990</p>
    <a href="pago.html">COMPRAR</a>
</div>

{%endblock%}